body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #161616;
  background: #f1f1f1;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
}

.pl0 {
  padding-left: 0;
}

.pr0 {
  padding-right: 0;
}

.pd0 {
  padding: 0;
}

.border0 {
  border: 0 !important;
}

.list-inline li {
  padding: 0;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*Sidebar codes */
.sidebar {
  height: 100vh;
  background: #1a3562;
  padding: 15px 0;
}
.sidebar h2 {
  margin: 0;
  border-bottom: 1px solid #b0d6e8;
  font-size: 24px;
  margin-bottom: 20px;
}
.sidebar h2 a {
  display: block;
  color: #fff;
  padding-bottom: 20px;
}
.sidebar ul li a {
  color: #fff;
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
}
.sidebar ul li a span {
  margin-right: 10px;
}
.sidebar ul li:hover a, .sidebar ul li.active a {
  background: #234d93;
}
.sidebar ul li:last-child {
  border-top: 1px solid #b0d6e8;
}

/*topbar codes */
.topbar {
  border-bottom: 1px solid #b0d6e8;
  overflow: hidden;
}
.topbar h3 {
  margin: 0;
  padding: 15px 15px 20px;
}

/*content codes */
.content {
  padding: 15px;
}
.content .main {
  background: #fff;
  padding: 20px;
  overflow-y: scroll;
  height: 85vh;
}
.content .main h4 {
  border-bottom: 1px solid #1a3562;
  padding-bottom: 10px;
}
.content .main form {
  margin-bottom: 30px;
  overflow: hidden;
}
.content .main form input, .content .main form .form-control {
  margin-bottom: 10px;
}
.content .main form label {
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
}
.content .main .each {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  background: #f3f3f3;
  box-shadow: 0 0 10px #2d6ea2;
  margin-top: 15px;
  margin-bottom: 15px;
}
.content .main .each a {
  display: block;
  color: #234d93;
  padding: 20px;
}
.content .main .each a span {
  font-size: 40px;
}
.content .main .each a p {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 500;
}

/*login page codes */
.login {
  background: #1a3562;
  height: 100vh;
}
.login .box {
  background: #f1f1f1;
  padding: 20px;
  overflow: hidden;
  margin-top: 20vh;
}
.login .box h2 {
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #1a3562;
}
.login .box h2 a {
  color: #1a3562;
}
.login .box input {
  margin-bottom: 10px;
}
.login .box .col-sm-8 {
  font-size: 0.9em;
}

span.info {
  font-size: 12px;
  color: #333;
  margin-top: -10px;
  margin-bottom: 10px;
  font-style: italic;
}

table {
  font-size: 14px;
}
table th {
  text-align: center;
  vertical-align: middle;
}
table td img {
  width: 50px;
  height: auto;
}

.student {
  padding: 20px;
  background: #fff;
  margin: 5% 20%;
  overflow: hidden;
  box-shadow: 0 0 3px #234d93;
}
.student > .col-sm-6:first-child {
  border-right: 2px solid #234d93;
}
.student input, .student select {
  margin-bottom: 15px;
}
.student h2 {
  color: #234d93;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

input[type="submit"] {
  text-transform: uppercase;
}

label {
  font-weight: 400;
}

input[type="checkbox"] + label {
  font-size: 12px;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  margin-left: 10px;
}

h1.sname {
  margin-top: 5%;
  color: #1a3562;
  font-size: 30px;
}
